<div class="modal-dialog modal-lg">

  <div class="modal-content">

    <div class="modal-header">
      <h4 class="modal-title" id="myModalLabel"><%= @product.name %></h4>
    </div>

    <dl class="dl-horizontal">
      <dt><strong>Name</strong></dt>
      <dd><%= @product.name %></dd>
      <dt><strong>Description</strong></dt>
      <dd><%= @product.description %></dd>
      <dt><strong>Price</strong></dt>
      <dd><%= @product.price %></dd>
    </dl>

    <div class="modal-footer">
      <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_product_path(@product), :class => 'btn btn-default' %>
      <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      product_path(@product),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-danger' %>

    </div>

  </div>

</div>
